---
import '../styles/global.css';
const {title='An Tâm GPS',description='Giải pháp định vị GPS 4G'}=Astro.props;
---
<!doctype html><html lang="vi"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width"/><meta name="description" content={description}/><title>{title}</title></head><body><slot /></body></html>
